:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-color: #25ccfd;
  --secondaty-color: #003a62;
  --third-color: #974900;
  --fourth-color: #e6f4f1;
}

*, h1, p {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  /* margin: 0; */
  /* padding: 0; */
  background-color: #fff;
}

.first-circle{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  top: -100px;
  left: -5px;
  background-color: var(--third-color);
  position: absolute;
  z-index: 2;
}

.first-circle::after{
  content: "";
  width: 30px;
  height: 30px;
  background-color: #7a3b00;
  position: absolute;
  border-radius: 50%;
  bottom: 60px;
  left: 80px;
}

.first-circle::before{
  content: '';
  width: 50px;
  height: 50px;
  background-color: #7a3b00;
  position: absolute;
  border-radius: 50%;
  bottom: 50px;
  left: 130px;
}

.second-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: -20px;
  right: 50px;
  background-color: #7a3b00;
  position: absolute;
  z-index: 1;
}

.third-circle {
  width: 100px;
  height: 170px;
  border-radius: 50px;
  bottom: -60px;
  right: 50px;
  background-color: var(--third-color);
  position: absolute;
  z-index: 1;
}

.third-circle::after{
  content: '';
  width: 15px;
  height: 15px;
  background-color: #7a3b00;
  position: absolute;
  border-radius: 50%;
  top: 50px;
  left: 60px;
}

.third-circle::before{
  content: '';
  width: 25px;
  height: 25px;
  background-color: #7a3b00;
  position: absolute;
  border-radius: 50%;
  top: 45px;
  left: 20px;
}


