@import url('../../index.css');

.container{
    position: relative;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    /* background-color: var(); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    width: 70%;
    /* margin-top: 500rem; */
    height: 50%;
    /* background-color: red; */
    font-size: 10px;
}